* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  padding-top: 100px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 30%;
}
.product-card img {
  width: 100%;
}

.likes button {
  margin-top: 20px;  
  border: none;
  background: none;
}

.faheart {
  color: black;
  
}

.active {
  color: red;
 
}

.likes span {
  padding-left: 10px;
}